* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Kumbh Sans, sans-serif;
}
:root {
  --Darkcyan: hsl(185, 75%, 39%);
  --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
  --Darkgrayishblue: hsl(227, 10%, 46%);
  --Darkgray: hsl(0, 0%, 59%);
}
body {
  width: 100%;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--Darkcyan);
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-position-x: -27rem, 15rem;
  background-position-y: -20rem, 20rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
}
.top {
  background-image: url(images/bg-pattern-card.svg);
  height: 25vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0 0;
  width: 100%;
}
.profile-img {
  position: absolute;
  top: 70%;
}
.profile-img img {
  border-radius: 50%;
  border: 5px solid white;
}
.middle {
  text-align: center;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  border-bottom: 1px solid var(--Darkgrayishblue);
  width: 100%;
}
.middle h3 {
  color: var(--Verydarkdesaturatedblue);
}
.middle span {
  color: var(--Darkgrayishblue);
  font-weight: 400;
  font-size: 18px;
}
.middle p {
  margin-top: 15px;
  margin-bottom: -15px;
  color: var(--Darkgrayishblue);
  font-size: 18px;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
}
.figures {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.figures h3 {
  color: var(--Verydarkdesaturatedblue);
  font-size: 18px;
}
.figures p {
  font-size: 12px;
  letter-spacing: 0.2rem;
  color: var(--Darkgrayishblue);
  margin-top: 5px;
}
@media (min-width: 900px) {
  main {
    background-position-x: -38rem, 38rem;
    background-position-y: -40rem, 20rem;
  }
}
@media (min-width: 1160px) {
  main {
    background-position-x: -40rem, 38rem;
    background-position-y: -57rem, 20rem;
  }
}
